<% action = params[:action] %>
<div class="container-fluid p-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="p-3 text-center"><%= action == "edit" ? "Atualizar" : "Cadastrar nova" %> dívida</h2>
      <%= form_with(model: debt, local: true) do |form| %>
        <% if debt.errors.any? %>
          <div id="error_explanation" class="text-black">
            <h2><%= debt.errors.count > 1 ? debt.errors.count.to_s + " erros abaixo foram encontrados:" : "1 erro abaixo foi encontrado" %></h2>

            <ul>
              <% debt.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :description, class: 'form-label' %>
              <%= form.text_field :description, class: 'form-control', 'aria-describedby': 'description_help' %>
              <div id="description_help" class="form-text">Escreva como o dívida será identificada.</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :value, class: 'form-label' %>
              <%= form.text_field :value, class: 'form-control valor', 'aria-describedby': 'value_help', value: "#{form&.object&.value.present? ? form&.object&.value.to_s.gsub('.', ',') : ''}" %>
              <div id="value_help" class="form-text">Digite o valor da dívida.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.check_box :paid, class: 'form-check-input' %>
              <%= form.label :paid, class: 'form-check-label' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.check_box :has_installment, class: 'form-check-input' %>
              <%= form.label :has_installment, class: 'form-check-label' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <%= form.label :transaction_date, class: 'form-label' %>
              <%= form.date_field :transaction_date, class: 'form-control', 'aria-describedby': 'transaction_date_help', value: "#{form&.object&.transaction_date.present? ? form&.object&.transaction_date : ''}" %>
              <div id="value_help" class="form-text">Digite a data que a compra está sendo realizada.</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <%= form.label :current_installment, class: 'form-label' %>
              <%= form.number_field :current_installment, as: :number, class: 'form-control', 'aria-describedby': 'current_installment_help', disabled: true %>
              <div id="current_installment_help" class="form-text">Digite a parcela atual desta despesa.</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <%= form.label :final_installment, class: 'form-label' %>
              <%= form.number_field :final_installment, as: :number, class: 'form-control', 'aria-describedby': 'final_installment_help', disabled: true %>
              <div id="final_installment_help" class="form-text">Digite a parcela final desta despesa.</div>
            </div>
          </div>
        </div>
        
        <div class="mb-3">
          <%= form.label :card_id, class: 'form-label' %>
          <%= form.collection_select :card_id, @cards, :id, :name, { include_blank: false }, { class: 'form-select' }  do %> 
          <% end %>
          <!-- <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/imgs/nu-card.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/imgs/nu-card.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/imgs/nu-card.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->
        </div>

        <div class="mb-3">
          <%= form.label :responsible, class: 'form-label' %>
          <%= form.text_field :responsible, class: 'form-control', 'aria-describedby': 'responsible_help' %>
          <div id="responsible_help" class="form-text">Digite o responsável pela dívida.</div>
        </div>

        <%= form.submit action == "edit" ? "Atualizar" : "Cadastrar dívida", class: 'btn btn-primary' %>
        <%= link_to 'Voltar', :back, class: 'btn btn-secondary text-white' %>
      <% end %>
    </div>
  </div>
</div>
