<% action = params[:action] %>
<div class="container-fluid p-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-6">
      <h2 class="p-3 text-center"><%= action == "edit" ? "Atualizar" : "Cadastrar nova" %> dívida</h2>
      <%= form_with(model: debt, local: true) do |form| %>
        <% if debt.errors.any? %>
          <div id="error_explanation" class="text-black">
            <h2><%= debt.errors.count > 1 ? debt.errors.count.to_s + " erros abaixo foram encontrados:" : "1 erro abaixo foi encontrado" %></h2>

            <ul>
              <% debt.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


        <div class="row">
          <h5 class="mt-4 mb-2 text-muted">Informações da dívida</h5>
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :description, class: 'form-label' %>
              <%= form.text_field :description, class: 'form-control', 'aria-describedby': 'description_help' %>
              <div id="description_help" class="form-text">Escreva como o dívida será identificada.</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :value, class: 'form-label' %>
              <%= form.text_field :value, class: 'form-control valor', 'aria-describedby': 'value_help', value: "#{form&.object&.value.present? ? form&.object&.value.to_s.gsub('.', ',') : ''}" %>
              <div id="value_help" class="form-text">Digite o valor da dívida.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :note, class: 'form-label' %>
              <%= form.text_field :note, class: 'form-control', 'aria-describedby': 'note_help' %>
              <div id="note_help" class="form-text">Detalhes adicionais a respeito da dívida.</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :category_id, class: 'form-label' %>
              <%= select_tag 'debt[category_id]',
                    raw(
                      Category.all.order(:name).map do |c|
                        selected = 'selected' if form.object.category_id == c.id
                        icon_url = image_path("categories/#{c.icon || 'default.png'}")
                        "<option value='#{c.id}' data-custom-properties='#{icon_url}' #{selected}>#{c.name}</option>"
                      end.join
                    ),
                    id: 'category_select',
                    class: 'form-control' 
              %>
              <div id="category_help" class="form-text">Selecione a categoria que a dívida pertence.</div>
            </div>
          </div>
        </div>
        
        <hr />

        <div class="row">
          <h5 class="mt-4 mb-2 text-muted">Parcelamento e pagamento</h5>
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.check_box :paid, class: 'form-check-input' %>
              <%= form.label :paid, class: 'form-check-label' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.check_box :has_installment, class: 'form-check-input' %>
              <%= form.label :has_installment, class: 'form-check-label' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <%= form.label :transaction_date, class: 'form-label' %>
              <%= form.date_field :transaction_date, class: 'form-control', 'aria-describedby': 'transaction_date_help', value: "#{form&.object&.transaction_date.present? ? form&.object&.transaction_date : ''}" %>
              <div id="value_help" class="form-text">Digite a data que a compra está sendo realizada.</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <%= form.label :current_installment, class: 'form-label' %>
              <%= form.number_field :current_installment, as: :number, class: 'form-control', 'aria-describedby': 'current_installment_help', disabled: true %>
              <div id="current_installment_help" class="form-text">Digite a parcela atual desta despesa.</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <%= form.label :final_installment, class: 'form-label' %>
              <%= form.number_field :final_installment, as: :number, class: 'form-control', 'aria-describedby': 'final_installment_help', disabled: true %>
              <div id="final_installment_help" class="form-text">Digite a parcela final desta despesa.</div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="mb-4">
            <h5 class="mt-4 mb-3 text-muted">Cartão utilizado</h5>
            <%= form.hidden_field :card_id, id: "selected-card-id" %>

            <div id="card-carousel" class="card-scroll-grid p-2">
              <% @cards.each do |card| %>
                <% style = card_style(card) %>
                <% selected = card.id == form.object.card_id %>
                <div 
                  class="card card-option text-center p-2 <%= 'selected' if selected %>" 
                  data-card-id="<%= card.id %>" 
                  data-card-selected="<%= selected %>" 
                  style="--card-color: <%= style[:color] %>; --card-color-rgb: <%= style[:rgb].delete(' ') %>;"
                >
                  <div class="card-body">
                    <%= image_tag "cards/#{style[:logo]}", alt: "#{card.name}", style: "max-height: 32px;", class: "img-fluid" %>
                    <p class="mb-0"><%= card.name %></p>
                    <%= image_tag "flags/#{style[:flag]}", class: "img-fluid bandeira", style: "max-height: 24px;" if style[:flag].present? %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="form-text">Clique para selecionar um cartão.</div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="mb-3">
            <h5 class="mt-4 mb-2 text-muted">Informações do responsável</h5>
            <%= form.label :responsible, class: 'form-label' %>
            <%= form.text_field :responsible, class: 'form-control', 'aria-describedby': 'responsible_help' %>
            <div id="responsible_help" class="form-text">Digite o responsável pela dívida.</div>
          </div>
        </div>

        <div class="d-flex flex-wrap gap-2">
          <%= form.submit(form.object.persisted? ? "Atualizar" : "Cadastrar dívida", class: "btn btn-primary me-2") %>

          <%= link_to debts_path, class: 'btn btn-secondary text-white' do %>
            <i class="fa fa-arrow-left me-1"></i> Voltar
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
