<% action = params[:action] %>
<div class="container-fluid my-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="p-3 text-center"><%= action == "edit" ? "Atualizar" : "Cadastrar nova" %> dívida</h2>
      <%= form_with(model: debt, local: true) do |form| %>
        <% if debt.errors.any? %>
          <div id="error_explanation">
            <h2><%= debt.errors.count > 1 ? debt.errors.count.to_s + " erros abaixo foram encontrados:" : "1 erro abaixo foi encontrado" %></h2>

            <ul>
              <% debt.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :description, class: 'form-label' %>
              <%= form.text_field :description, class: 'form-control', 'aria-describedby': 'description_help' %>
              <div id="description_help" class="form-text">Escreva como o dívida será identificada.</div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <%= form.label :value, class: 'form-label' %>
              <%= form.text_field :value, class: 'form-control valor', 'aria-describedby': 'value_help', value: "#{form&.object&.value.present? ? '%0.2f' % form&.object&.value : ''}" %>
              <div id="value_help" class="form-text">Digite o valor da dívida.</div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :transaction_date, class: 'form-label' %>
          <%= form.date_field :transaction_date, class: 'form-control', 'aria-describedby': 'transaction_date_help', value: "#{form&.object&.transaction_date.present? ? form&.object&.transaction_date : ''}" %>
          <div id="value_help" class="form-text">Digite a data que a compra está sendo realizada.</div>
        </div>

        <div class="mb-3">
          <%= form.check_box :paid, class: 'form-check-input' %>
          <%= form.label :paid, class: 'form-check-label' %>
        </div>

        <div class="mb-3">
          <%= form.check_box :has_installment, class: 'form-check-input' %>
          <%= form.label :has_installment, class: 'form-check-label' %>
        </div>

        <div class="mb-3">
          <div class="containar-fluid">
            <div class="row">
              <div class="col">
                <%= form.label :current_installment, class: 'form-label' %>
                <%= form.number_field :current_installment, as: :number, class: 'form-control', 'aria-describedby': 'current_installment_help' %>
                <div id="current_installment_help" class="form-text">Digite a parcela atual desta despesa.</div>
              </div>

              <div class="col">
                <%= form.label :final_installment, class: 'form-label' %>
                <%= form.number_field :final_installment, as: :number, class: 'form-control', 'aria-describedby': 'final_installment_help' %>
                <div id="final_installment_help" class="form-text">Digite a parcela final desta despesa.</div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="mb-3">
          <%= form.label :card_id, class: 'form-label' %>
          <%= form.collection_select :card_id, @cards, :id, :name, { include_blank: false }, { class: 'form-select' } %>
        </div>

        <div class="mb-3">
          <%= form.label :responsible, class: 'form-label' %>
          <%= form.text_field :responsible, class: 'form-control', 'aria-describedby': 'responsible_help' %>
          <div id="responsible_help" class="form-text">Digite o responsável pela dívida.</div>
        </div>

        <%= form.submit action == "edit" ? "Atualizar" : "Cadastrar dívida", class: 'btn btn-primary' %>
        <%= link_to 'Voltar', :back, class: 'btn btn-secondary text-white' %>
      <% end %>
    </div>
  </div>
</div>
