
<div class="offcanvas offcanvas-end d-md-none" tabindex="-1" id="filtroOffcanvas" aria-labelledby="filtroLabel">
  <div class="offcanvas-header">
    <h5 id="filtroLabel">Filtros</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <%= form_with(url: debts_path, method: :get, local: true) do |form| %>
      <div class="card p-3 shadow-sm">
        <div class="mb-3">
          <%# Cada campo dentro da sua própria linha no mobile %>
          <% fields = render('search_fields').split("\n") %>
          <% fields.each do |field| %>
            <div class="mb-3">
              <%= raw field %>
            </div>
          <% end %>
        </div>

        <div class="row g-3">
          <div class="col-md-6 d-flex align-items-end">
            <%= submit_tag "Buscar", class: "btn btn-primary w-100" %>
          </div>
          <div class="col-md-6 d-flex align-items-end">
            <%= link_to "Limpar", debts_path, class: "btn btn-outline-secondary w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="d-none d-md-block mt-5">
  <%= form_with(url: debts_path, method: :get, local: true, class: "card p-3 shadow-sm") do |form| %>
    <div class="row g-3">
      <% fields = render('search_fields').split("\n") %>
      <% fields.each do |field| %>
        <div class="col-md-4">
          <%= raw field %>
        </div>
      <% end %>
    </div>
    
    <div class="row g-3 mt-1">
      <div class="col-md-2">
        <%= submit_tag "Buscar", class: "btn btn-primary w-100" %>
      </div>
      <div class="col-md-2">
        <%= link_to "Limpar", debts_path, class: "btn btn-outline-secondary w-100" %>
      </div>
    </div>
  <% end %>
</div>