<% if notice.present? %>
  <div class="col-6 mt-5">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="col-md-12 mt-5">
  <%= render 'search_form' %>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col d-flex align-items-center">
      <h1>Despesas</h1>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <%= link_to 'Cadastrar despesa', new_debt_path, class: "btn btn-primary text-white" %>

      <% if params[:search].present? %>
        <%= form_with url: pay_all_debts_path, method: :post do | form | %>
          <%= form.text_field :month,   type: :hidden, value: "#{params[:search][:month].present? ? params[:search][:month] : ''}" %>
          <%= form.text_field :year,    type: :hidden, value: "#{params[:search][:year].present? ? params[:search][:year] : ''}" %>
          <%= form.text_field :card_id, type: :hidden, value: "#{params[:search][:card_id].present? ? params[:search][:card_id] : ''}" %>
          <%= submit_tag 'Pagar despesas', class: "btn btn-outline-primary ms-2" %>
        <% end %>
        
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table">
        <table class='table table-bordered table-light table-striped border border-dark rounded'>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col">Valor</th>
              <th scope="col">Pago?</th>
              <th scope="col">Cartão</th>
              <th scope="col">Data da compra</th>
              <th scope="col">Fatura da cobrança</th>
              <th scope="col">Tem parcela?</th>
              <th scope="col">Parcela atual</th>
              <th scope="col">Parcela final</th>
              <th scope="col">Responsável</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
            <% @debts.each do |debt| %>
              <tr>
                <td><%= debt.id %></td>
                <td><%= debt.description %></td>
                <td class="text-end">R$ <%= sprintf("%.2f", debt.value).to_s.gsub('.', ',') %></td>
                <td><%= debt.paid ? "Sim" : "Não" %></td>
                <td><%= debt.card.name %></td>
                <td><%= debt.transaction_date.strftime("%d/%m/%Y") %></td>
                <td><%= I18n.t("date.month_names")[debt.billing_statement.month].upcase %></td>
                <td><%= debt.has_installment ? "Sim" : "Não" %></td>
                <td><%= debt.current_installment %></td>
                <td><%= debt.final_installment %></td>
                <td><%= debt.responsible %></td>
                <td class="text-center">
                  <%= link_to 'Editar', edit_debt_path(debt), class: 'btn btn-secondary text-white' %>
                  <% unless debt.parent_id.present? %>
                    <%= link_to 'Excluir', debt, method: :delete, class: 'btn btn-danger text-white', data: { confirm: 'Tem certeza?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= paginate @debts %>
    </div>
  </div>
</div>