<% if notice.present? %>
  <div class="col-6 mt-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <h1>Despesas</h1>
    </div>
    <div class="col text-end">
      <%= link_to 'Cadastrar despesa', new_debt_path, class: "btn btn-success text-white" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table">
        <table class='table table-bordered text-white'>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col">Valor</th>
              <th scope="col">Pago?</th>
              <th scope="col">Cartão</th>
              <th scope="col">DD/MM/AAAA</th>
              <th scope="col">Tem parcela?</th>
              <th scope="col">Parcela atual</th>
              <th scope="col">Parcela final</th>
              <th scope="col">Responsável</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
            <% @debts.each_with_index do |debt, index| %>
              <tr>
                <td><%= debt.id %></td>
                <td><%= debt.description %></td>
                <td class="text-end">R$ <%= sprintf("%.2f", debt.value).to_s.gsub('.', ',') %></td>
                <td><%= debt.paid ? "Sim" : "Não" %></td>
                <td><%= debt.card.name %></td>
                <td><%= debt.day + "/" + debt.month + "/" + debt.year %></td>
                <td><%= debt.has_installment ? "Sim" : "Não" %></td>
                <td><%= debt.current_installment %></td>
                <td><%= debt.final_installment %></td>
                <td><%= debt.responsible %></td>
                <td>
                  <%= link_to 'Editar', edit_debt_path(debt), class: 'btn btn-secondary text-white' %>
                  <% unless debt.parent_id.present? %>
                    <%= link_to 'Excluir', debt, method: :delete, class: 'btn btn-danger text-white', data: { confirm: 'Tem certeza?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= paginate @debts %>
    </div>
  </div>
</div>