<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @spend.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @spend.value %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @spend.paid %>
</p>

<p>
  <strong>Card:</strong>
  <%= @spend.card_id %>
</p>

<%= link_to 'Edit', edit_spend_path(@spend) %> |
<%= link_to 'Back', spends_path %>
