<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <h1> Cadastrar novo cartão </h1>
      <%= form_with(model: card, local: true) do |form| %>
        <% if card.errors.any? %>
          <div id="error_explanation">
            <h2><%= card.errors.count > 1 ? card.errors.count.to_s + " erros abaixo foram encontrados:" : "1 erro abaixo foi encontrado" %></h2>

            <ul>
              <% card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :name, class: 'form-label' %>
          <%= form.text_field :name, class: 'form-control', 'aria-describedby': 'name_help' %>
          <div id="name_help" class="form-text">Escreva como o cartão a ser cadastrado será identificado.</div>
        </div>
        
        <div class="mb-3">
          <%= form.label :expiration, class: 'form-label' %>
          <%= form.date_field :expiration, as: :date, value: form.object.try(:strftime,"%mm/%dd/%YYYY"), class: 'form-control', 'aria-describedby': 'expiration_help' %>
          <div id="expiration_help" class="form-text">Adicione a data de vencimento do cartão.</div>
        </div>
        
        <%= form.submit "Cadastrar cartão", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>