<% if notice.present? %>
  <div class="col-6 mt-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col text-end">
      <%= link_to 'Cadastrar cartão', new_card_path, class: "btn btn-light" %>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2 py-3 rounded mx-2 my-2 card-personalizado" style="background-color: <%= card.color %>; border: 2px solid;">
        <div class="container-fluid h-100 p-0">
          <div class="row">
            <h6 class='text-center'> Cartão <%= card.name %> </h6>
          </div>
          <hr>
          <% card_debts = card.debts.where(paid: false).sum(:value) %>
          <div class="row d-flex align-items-center">
            <div class="col"><small>LIMITE</small></div>
            <div class="col text-center" title="Limite"><small><%= sprintf("%.2f", (card.limit - card_debts)) %>/<%= card.limit %></small></div>
          </div>

          <div class="row d-flex align-items-center">
            <div class="col text-center">
              <div class="progress position-relative" role="progressbar" aria-label="Basic example" aria-valuenow=<%= (card_debts * 100.0/card.limit) %> aria-valuemin="0" aria-valuemax="100">
                <span class="text-black position-absolute start-50 top-50 translate-middle"><b><%= sprintf("%.2f", (card_debts * 100.0/card.limit)) %>%</b></span>
                <div class="progress-bar" style="width: <%= (card_debts * 100.0/card.limit) %>%"></div>
              </div>
            </div>
          
          </div>
          <div class="row d-flex align-items-center">
            <div class="col"><small title="Quantidade de dias antes do fechamento">QDAF </small></div>
            <div class="col text-center" title="Quantidade de dias antes do fechamento da fatura"><small><%= card.closing_date %></small></div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col"><small title="Vencimento">VENCIMENTO</small></div>
            <div class="col text-center"><small title="Dia do vencimento da fatura"><%= card.due_date %></small></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>