<% if notice.present? %>
  <div class="col-6 mt-5">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col text-end">
      <%= link_to 'Cadastrar cartão', new_card_path, class: "btn btn-primary text-white" %>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center">
    <% @cards.each do |card| %>
      <% style = card_style(card) %>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 py-3 rounded mx-2 my-2 card-option text-center"
          data-card-id="<%= card.id %>" 
          style="--card-color: <%= style[:color] %>; --card-color-rgb: <%= style[:rgb].delete(' ') %>;">

        <div class="card-body d-flex flex-row align-items-center justify-content-center gap-2">
          <% style = card_style(card) %>
          <%= image_tag "cards/#{style[:logo]}", alt: "#{card.name}", style: "max-height: 24px;", class: "img-fluid" %>
          <h6 class="mb-1"><%= card.name %></h6>
          <%= image_tag "flags/#{style[:flag]}", class: "img-fluid bandeira", style: "max-height: 24px;" if style[:flag].present? %>
        </div>

        <hr class="my-2" style="border-color: white;">

        <% card_debts = card.transactions.where(paid: false).sum(:value) %>

        <% if card.name != "OUTROS" %>
          <div class="row d-flex align-items-center mt-1">
            <div class="col text-center">
              <div class="progress position-relative" role="progressbar" aria-label="Basic example" aria-valuenow=<%= (card_debts * 100.0/card.limit) %> aria-valuemin="0" aria-valuemax="100">
                <span class="position-absolute start-50 top-50 translate-middle text-dark">
                  <b><%= sprintf("%.2f", (card_debts * 100.0/card.limit)) %>%</b>
                </span>
                <div class="progress-bar" style="width: <%= (card_debts * 100.0/card.limit) %>%"></div>
              </div>
            </div>
          </div>

          <div class="row d-flex align-items-center">
            <div class="col">
              <small class="">LIMITE</small>
            </div>
            <div class="col text-center" title="Limite">
              <small class=""><%= sprintf("%.2f", (card.limit - card_debts)) %>/<%= card.limit %></small>
            </div>
          </div>
        <% else %>
          <div class="row d-flex align-items-center">
            <div class="col">
              <small class="">LIMITE</small>
            </div>
            <div class="col text-center" title="Limite"></div>
          </div>
        <% end %>

        <div class="row d-flex align-items-center mt-2">
          <div class="col">
            <small class='' title="Dia do fechamento">FECHAMENTO</small>
          </div>
          <div class="col text-center" title="Quantidade de dias antes do fechamento da fatura">
            <% data_fechamento = (Date.new(Date.today.year, Date.today.month, card.due_date) + 1.month) - card.closing_date %>
            <small class=''><%= data_fechamento.strftime("%d/%m/%Y") %></small>
          </div>
        </div>

        <div class="row d-flex align-items-center mt-1">
          <div class="col">
            <small class='' title="Vencimento">VENCIMENTO</small>
          </div>
          <div class="col text-center">
            <% data_vencimento = (Date.new(Date.today.year, Date.today.month, card.due_date) + 1.month) %>
            <small class='' title="Dia do vencimento da fatura"><%= data_vencimento.strftime("%d/%m/%Y") %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>