<% @month = @month.present? ? @month : Date.today.month.to_s.rjust(2, '0') %>

<% if notice.present? %>
  <div class="col-6 mt-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-5">
  <h4 class='text-center mb-4'> Gastos do mês de <%= I18n.t('date.month_names')[@month.to_i].downcase %> </h4>
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-md-3">
        <h6 class='text-center'> Cartão <%= card.name %> </h6>

        <div class="table-responsive">
          <table class='table table-striped table-bordered'>
            <thead>
              <tr>
                <th scope="col" style="font-size: 12px;">Descrição</th>
                <th scope="col" style="font-size: 12px;">Valor</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              <% expenses = card.expenses.where(month: @month, year: Date.today.year) %>
              
              <% if expenses.present? %>
                <% total_expense = 0 %>
                <% expenses.each do |expense| %>
                  <tr>
                    <td>
                      <p style="font-size: 10px; margin: 0px;" title="<%=expense.description%>"><%= expense.description.truncate(8) %></p>
                    </td>
                    <td class='text-end' style="font-size: 10px;">R$ <%= sprintf("%.2f", expense.value).to_s.gsub('.', ',') %></td>
                    <% total_expense += expense.value %>
                  </tr>
                <% end %>
                <tr>
                  <td style="font-size: 10px;"><b>TOTAL</b></td>
                  <td class="text-end" style="font-size: 10px;"><b>R$ <%= sprintf("%.2f", total_expense).to_s.gsub('.', ',') %></b></td> 
                </tr>
              <% else %>
                <tr>
                  <td class="text-center" colspan="2" style="font-size: 10px;"> SEM DÍVIDAS CADASTRADAS NO MOMENTO </td> 
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid mt-5">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <% @months.each_with_index do |month, index| %>
      <li class="nav-item" role="presentation">
        
        <%= link_to "#{month}", cards_path(month: (index+1)), class: (index + 1) == @month.to_i ? "nav-link active" : "nav-link", "role": "tab", "aria-selected": (index + 1) == @month.to_i ? "true" : "false", id: "pills-#{month.downcase}-tab" %>
      </li>
    <% end %>
  </ul>
</div>