<% if notice.present? %>
  <div class="col-6 mt-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <h1>Despesas</h1>
    </div>
    <div class="col text-end">
      <%= link_to 'Cadastrar despesa', new_expense_path, class: "btn btn-success text-white" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table">
        <table class='table table-bordered text-white'>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col">Valor</th>
              <th scope="col">Pago?</th>
              <th scope="col">Cartão</th>
              <th scope="col">MM/AAAA</th>
              <th scope="col">Tem parcela?</th>
              <th scope="col">Parcela atual</th>
              <th scope="col">Parcela final</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
            <% @expenses.each_with_index do |expense, index| %>
              <tr>
                <td><%= expense.id %></td>
                <td><%= expense.description %></td>
                <td class="text-end">R$ <%= sprintf("%.2f", expense.value).to_s.gsub('.', ',') %></td>
                <td><%= expense.paid ? "Sim" : "Não" %></td>
                <td><%= expense.card.name %></td>
                <td><%= expense.month + "/" + expense.year %></td>
                <td><%= expense.has_installment ? "Sim" : "Não" %></td>
                <td><%= expense.current_installment %></td>
                <td><%= expense.final_installment %></td>
                <td>
                  <%= link_to 'Editar', edit_expense_path(expense), class: 'btn btn-secondary text-white' %>
                  <%= link_to 'Excluir', expense, method: :delete, class: 'btn btn-danger text-white', data: { confirm: 'Tem certeza?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= paginate @expenses %>
    </div>
  </div>
</div>