<% @month = @month.present? ? @month : Date.today.next_month.month.to_s.rjust(2, '0') %>

<% if notice.present? %>
  <div class="col-6 mt-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-11">
      <div class="container-fluid my-2">
        <h4 class='text-center p-3'> Gastos do mês de <%= I18n.t('date.month_names')[@month.to_i].downcase %> </h4>
        <div class="row">
          <% @cards.each do |card| %>
            <%# INICIAR DAQUI AMANHÃ %>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 py-3 rounded mx-2 card-personalizado" style="background-color: <%= card.color %>; border: 2px solid;">
              <h6 class='text-center'> Cartão <%= card.name %> </h6>

              <div class="container-fluid h-100 p-0">
                <% expenses = card.expenses.where(month: @month, year: Date.today.year).order(:description, :value, :responsible) %>
                <% if expenses.present? %>
                  <% total_expense = 0 %>
                  
                  <div class="row">
                    <div class="col-4"><b><small> Descrição </small></b></div>
                    <div class="col-2 text-center" title="Parcela atual"><b><small> P. atual </small></b></div>
                    <div class="col-2 text-center" title="Parcela final"><b><small> P. final </small></b></div>
                    <div class="col-4 text-end pe-3"><b><small> Valor </small></b></div>
                  </div>

                  <hr class="hr my-2" />

                  <div class="row position-relative">
                    <div class="col mb-4" style="max-height: 250px; overflow-y: auto;">
                      <% expenses.each do |expense| %>
                        <div class="row">
                          <div class="col-4">
                            <p class="text-white" style="font-size: 10px; margin: 0px;" title="<%= expense.description %>"><%= expense.description %></p>
                          </div>
                          <div class="col-2 text-center">
                            <p class="text-white" style="font-size: 10px; margin: 0px;" title="<%= expense.current_installment %>"><%= expense.current_installment %></p>
                          </div>
                          <div class="col-2 text-center">
                            <p class="text-white" style="font-size: 10px; margin: 0px;" title="<%= expense.final_installment %>"><%= expense.final_installment %></p>
                          </div>
                          <div class="col-4">
                            <div class="row">
                              <div class="col-6 p-0 text-end">
                                  <p style="font-size: 10px; margin: 0px;">R$</p>
                              </div>
                              <div class="col ps-0">
                                <p class="text-white text-end" style="font-size: 10px; margin: 0px;" title="<%= expense.value %>"><%= sprintf("%.2f", expense.value).to_s.gsub('.', ',') %></p>
                              </div>
                            </div>
                          </div>
                          <% total_expense += expense.value %>
                        </div>
                      <% end %>
                    </div>
                    
                    <div class="col p-1 rounded-bottom position-absolute top-100 start-50 translate-middle" style="background-color: rgba(0, 0, 0, 0.5);">
                      <div class="row px-1">
                        <div class="col ps-3"><b><small> TOTAL </small></b></div>
                        <div class="col text-end pe-4"><b><small> R$ <%= sprintf("%.2f", total_expense).to_s.gsub('.', ',') %> </small></b></div>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="col"><b> SEM DÍVIDAS CADASTRADAS NO MOMENTO </b></div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-1 fixed-top vh-100" style="right: 0; left: auto;">
      <ul class="nav nav-pills nav-fill p-3 h-100" id="pills-tab" role="tablist">
        <% @months.each_with_index do |month, index| %>
          <li class="nav-item d-flex justify-content-center align-items-center" role="presentation">
            <%= link_to "#{month}", totals_path(month: (index+1)), class: (index + 1) == @month.to_i ? "nav-link active" : "nav-link", "role": "tab", "aria-selected": (index + 1) == @month.to_i ? "true" : "false", id: "pills-#{month.downcase}-tab" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



