<% 
  @month = @month.present? ? @month : Date.today.next_month.month
%>

<% if notice.present? %>
  <div class="col-6 mt-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-3">
  <div class="row mobile-totals-row">
    <div class="col-md-11">
      <div class="container-fluid my-2">
        <h4 class='text-center p-3'> Gastos do mês de <%= I18n.t('date.month_names')[@month.to_i].downcase %> </h4>
        <div class="row d-flex justify-content-start flex-nowrap overflow-auto p-2">
          <% @cards.each do |card| %>
            <%# INICIAR DAQUI AMANHÃ %>
            <% color_all = card.name == "WILL" ? "text-black" : "text-white" %>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 py-3 rounded mx-2 my-2 card-personalizado <%= color_all %>" style="background-color: <%= card.color %>; border: 2px solid;">
              <h6 class='text-center p-3 main-background'> Cartão <%= card.name %> </h6>

              <div class="container-fluid h-90 p-0">
                <% debts = card.debts.where("strftime('%m', billing_statement) = ? AND strftime('%Y', billing_statement) = ?", @month.to_s.rjust(2, '0'), Date.today.year.to_s).order(:transaction_date, :description, :value, :responsible) %>
                <% if debts.present? %>
                  <% total_debt = 0 %>
                  
                  <div class="row">
                    <div class="col-3" title="Descrição"><b><small> Descrição </small></b></div>
                    <div class="col-3 text-center" title="Data"><b><small> Data </small></b></div>
                    <div class="col-2 text-center" title="Parcela atual / Parcela final"><b><small> P.A/P.F. </small></b></div>
                    <div class="col-2 text-center"><b><small> Nome </small></b></div>
                    <div class="col-2 text-end pe-3"><b><small> Valor </small></b></div>
                  </div>

                  <hr class="hr my-2" />

                  <div class="row position-relative">
                    <div class="col mb-4" style="min-height: 400px; overflow-y: auto;">
                      <% debts.each do |debt| %>
                        <div class="row <%= debt.paid ? "positivo": "negativo" %>">
                          <div class="col-3">
                            <p class="text-white" style="font-size: 10px; margin: 0px; border-bottom: 1px solid #ccc;" title="<%= debt.description %>"><%= debt.description %></p>
                          </div>
                          <div class="col-3 text-center">
                            <p class="text-white" style="font-size: 10px; margin: 0px; border-bottom: 1px solid #ccc;" title="<%= debt.transaction_date.strftime("%d/%m/%Y") %>"><%= debt.transaction_date.strftime("%d/%m/%Y") %></p>
                          </div>
                          <div class="col-2 text-center">
                            <% if debt.current_installment.present? && debt.final_installment.present? %>
                              <p class="text-white" style="font-size: 10px; margin: 0px; border-bottom: 1px solid #ccc;" title="<%= debt.current_installment %> / <%= debt.final_installment %>"><%= debt.current_installment %> / <%= debt.final_installment %></p>
                            <% else %>
                              <p class="text-white" style="font-size: 10px; margin: 0px; border-bottom: 1px solid #ccc;" title="">&nbsp</p>
                            <% end %>
                          </div>
                          <div class="col-2 text-center">
                            <p class="text-white" style="font-size: 10px; margin: 0px; border-bottom: 1px solid #ccc;" title="<%= debt.responsible %>"><%= debt.responsible %></p>
                          </div>
                          <div class="col-2">
                            <div class="row">
                              <div class="col-2 p-0 text-end text-white">
                                  <p style="font-size: 10px; margin: 0px; border-bottom: 1px solid #ccc;">R$</p>
                              </div>
                              <div class="col ps-0">
                                <p class="text-white text-end" style="font-size: 10px; margin: 0px; border-bottom: 1px solid #ccc;" title="<%= debt.value %>"><%= sprintf("%.2f", debt.value).to_s.gsub('.', ',') %></p>
                              </div>
                            </div>
                          </div>
                          <% total_debt += debt.value if !debt.paid %>
                        </div>
                      <% end %>
                    </div>
                    
                    <div class="col p-1 rounded-bottom position-absolute start-50 translate-middle" style="background-color: rgba(0, 0, 0, 0.5); top: 100%;">
                      <div class="row px-1">
                        <div class="col ps-3"><b><small class="total"> TOTAL </small></b></div>
                        <div class="col text-end pe-4"><b><small class="total"> R$ <%= sprintf("%.2f", total_debt).to_s.gsub('.', ',') %> </small></b></div>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="col text-center"><b> SEM DÍVIDAS CADASTRADAS NO MOMENTO </b></div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-md-1 col-12 mt-5" style="right: 0; left: auto;">
      <ul class="nav nav-pills nav-fill p-3 h-100" id="pills-tab" role="tablist">
        <li class="nav-item d-flex justify-content-center align-items-center" role="presentation">
          <select class="form-select form-select-sm" aria-label="Default select example">
            <option selected value=<%= Date.today.year %>><%= Date.today.year %></option>
            <% (2023..(Date.today.year - 1)).reverse_each do |year| %>
              <option value=<%= year %>><%= year %></option>
            <% end %>
          </select>
        </li>

        <!-- Select para os meses (visível apenas no mobile) -->
        <li class="nav-item d-flex justify-content-center align-items-center d-md-none" role="presentation">
          <select class="form-select form-select-sm mobile-month-select" aria-label="Selecione o mês" id="mobile-month-select">
            <% @months.each_with_index do |month, index| %>
              <% unless index == 0 %>
                <option value="<%= index %>" <%= 'selected' if index == @month.to_i %>><%= month.upcase %></option>
              <% end %>
            <% end %>
          </select>
        </li>

        <% @months.each_with_index do |month, index| %>
          <% unless index == 0 %>
            <li class="nav-item d-flex justify-content-center align-items-center d-none d-md-flex" role="presentation">
              <%= link_to "#{month.upcase}", totals_path(month: index), class: index == @month.to_i ? "nav-link active" : "nav-link", "role": "tab", "aria-selected": index == @month.to_i ? "true" : "false", id: "pills-#{month.downcase}-tab" %>
            </li>
          <% end %>  
        <% end %>
      </ul>
    </div>

  </div>
</div>



