<% 
  @month = @month.present? ? @month : Date.today.next_month.month
%>

<% if notice.present? %>
  <div class="col-6 mt-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span id="notice"> <%= notice %> </span>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-3">
  <div class="row mobile-totals-row">
    <div class="col-md-11">
      <div class="container-fluid my-2">
        <h4 class='text-center p-3'> Gastos do mês de <%= I18n.t('date.month_names')[@month.to_i].downcase %> </h4>
        <div class="credit-cards-container">
          <% @cards.each do |card| %>
            <% color_card = card.color %>
            <div class="card credit-card mb-3">
              <div class="card-header credit-card-header">
                <% style = card_style(card) %>
                <div class="credit-card-icon">
                  <%= image_tag "cards/#{style[:logo]}", alt: "#{card.name}", class: "img-fluid" %>
                </div>
                <div class="credit-card-title mb-0"><%= card.name %></div>
                <div class="credit-card-icon">
                  <%= image_tag "flags/#{style[:flag]}", class: "img-fluid bandeira" if style[:flag].present? %>
                </div>
                <div class="credit-card-total" style="background-color: <%= color_card %>;">
                  R$ <%= sprintf("%.2f", card.total_debt(@month)).to_s.gsub('.', ',') %>
                </div>
              </div>
              <table class="credit-card-table">
                <thead>
                  <tr style="background-color: <%= color_card %>;">
                    <th>Descrição</th>
                    <th class="text-center">Data</th>
                    <th class="text-center" colspan="2">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <% debts = card.debts_by_date(@month.to_s.rjust(2, '0'), Date.today.year.to_s) %>
                  <%if debts.present? %>
                    <% debts.each do |debt| %>
                      <tr>
                        <td>
                          <strong><%= debt.description %></strong>
                          <span class="text-muted small"><%= debt.responsible %></span>
                        </td>
                        <td><%= debt.transaction_date.strftime("%d/%m/%Y") %></td>
                        <td>
                          R$
                          <% if debt.paid %>
                            <br>
                            <span class="text-success small">
                              <i class="fa fa-check-circle text-success" title="Pago"></i>
                            </span>
                          <% else %>
                            <br>
                            <span class="text-danger small">
                              <i class="fa fa-times-circle text-danger" title="Pago"></i>
                            </span>
                          <% end %>
                        </td>
                        <td class="text-end">
                          <%= sprintf("%.2f", debt.value).to_s.gsub('.', ',') %>
                          <% if debt.has_installment %>
                            <span class="text-muted small">
                              <%= debt.current_installment %> / <%= debt.final_installment %>
                            </span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="col-md-1 col-12 mt-5" style="right: 0; left: auto;">
      <ul class="nav nav-pills nav-fill p-3" id="pills-tab" role="tablist">
        <li class="nav-item d-flex justify-content-center align-items-center" role="presentation">
          <select class="form-select form-select-sm" aria-label="Default select example">
            <option selected value=<%= Date.today.year %>><%= Date.today.year %></option>
            <% (2023..(Date.today.year - 1)).reverse_each do |year| %>
              <option value=<%= year %>><%= year %></option>
            <% end %>
          </select>
        </li>

        <!-- Select para os meses (visível apenas no mobile) -->
        <li class="nav-item d-flex justify-content-center align-items-center d-md-none" role="presentation">
          <select class="form-select form-select-sm mobile-month-select" aria-label="Selecione o mês" id="mobile-month-select">
            <% @months.each_with_index do |month, index| %>
              <% unless index == 0 %>
                <option value="<%= index %>" <%= 'selected' if index == @month.to_i %>><%= month.upcase %></option>
              <% end %>
            <% end %>
          </select>
        </li>

        <% @months.each_with_index do |month, index| %>
          <% unless index == 0 %>
            <li class="nav-item d-flex justify-content-center align-items-center d-none d-md-flex" role="presentation">
              <%= link_to "#{month.upcase}", totals_path(month: index), class: index == @month.to_i ? "nav-link active" : "nav-link", "role": "tab", "aria-selected": index == @month.to_i ? "true" : "false", id: "pills-#{month.downcase}-tab" %>
            </li>
          <% end %>  
        <% end %>
      </ul>
    </div>

  </div>
</div>