<!DOCTYPE html>
<html lang="PT-Br">
  <head>
    <title>Controle De Gastos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", defer: true, "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>

  <body class='container-fluid'>
    <div class="row">
      <div class="d-flex flex-column">
        <% if notice.present? %>
          <div class="alert alert-success alert-dismissible fade show mx-3 mt-3" role="alert">
            <%= notice %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <% if alert.present? %>
          <div class="alert alert-danger alert-dismissible fade show mx-3 mt-3" role="alert">
            <%= alert %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <%= render 'layouts/navbar' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
